{{!-- Step one — remove brackets "{{!‐‐" and "‐‐}}" to use Disqus comments --}}
{{!-- Step two — the only thing you need to change is "XXXXX" - which should be replaced with your own Disqus site-id --}}

<div id="disqusloader">
<script>
    var options = {
        scriptUrl: "https://https-thawhakyi-co.disqus.com/embed.js",
        disqusConfig: function() {
        this.page.url = '{{url absolute="true"}}';
        this.page.identifier = 'ghost-{{comment_id}}';
    }};
</script>
</div>

