<a href="{{@site.url}}/signup/" class="membership-card free">
	<div class="membership-card-content">
		<h2 class="membership-card-title">{{t "Free"}}</h2>
		<h4 class="membership-card-price"><sup>$</sup>0</h4>
		<div class="membership-card-options">
			<ul>

                {{!-- Here you can add your feature list --}}

				<li>Full access to posts for subscribers</li>
				<li>Weekly email newsletter</li>
				<li>No advertising</li>
				
			</ul>
		</div>
		<div class="membership-card-button-wrap">
			<div class="membership-card-button global-button">{{t "Subscribe now"}}</div>
		</div>
	</div>
</a>