<nav class="section-pagination pagination">
	{{#if prev}}
	<a class="newer-posts" href="{{page_url prev}}">{{t "Newer Posts"}}</a>
	{{/if}}
	{{#if next}}
	<a class="older-posts" href="{{page_url next}}">{{t "Older Posts"}}</a>
	{{/if}}
</nav>